[submodule "lib/aws-cfn/stack/network-template"]
	path = lib/aws-cfn/stack/network-template
	url = git@github.com:meowmeowmeow0131/network-template.git
[submodule "lib/aws-cfn/stack/ec2-instance-web-server-template"]
	path = lib/aws-cfn/stack/ec2-instance-web-server-template
	url = git@github.com:meowmeowmeow0131/ec2-instance-web-server-template.git
