[submodule "lib/aws-cfn/template/network-template"]
	path = lib/aws-cfn/template/network-template
	url = git@github.com:meowmeowmeow0131/network-template.git
[submodule "lib/aws-cfn/template/ec2-web-server-template"]
	path = lib/aws-cfn/template/ec2-web-server-template
	url = git@github.com:meowmeowmeow0131/ec2-web-server-template.git
[submodule "lib/aws-sam/template/cloudwatch-alarm-to-slack"]
	path = lib/aws-sam/template/cloudwatch-alarm-to-slack
	url = git@github.com:meowmeowmeow0131/cloudwatch-alarm-to-slack.git
[submodule "lib/aws-sam/template/lambda-sample-python"]
	path = lib/aws-sam/template/lambda-sample-python
	url = git@github.com:meowmeowmeow0131/lambda-sample-python.git
[submodule "lib/aws-cfn/template/iam-group-cfn-template"]
	path = lib/aws-cfn/template/iam-group-cfn-template
	url = git@github.com:meowmeowmeow0131/iam-group-cfn-template.git
[submodule "lib/aws-cfn/template/iam-user-cfn-template"]
	path = lib/aws-cfn/template/iam-user-cfn-template
	url = git@github.com:meowmeowmeow0131/iam-user-cfn-template.git
[submodule "lib/aws-cfn/template/state-manager-collect-inventory-data-template"]
	path = lib/aws-cfn/template/state-manager-collect-inventory-data-template
	url = git@github.com:meowmeowmeow0131/state-manager-collect-inventory-data-template.git
